{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div id='tube-background' style="padding-bottom: 6%;">
    <input type="checkbox" id="switch" checked>
    <label for="switch" class="switch-label">Turn </label>
    <div id='tube'>
        <div id='screen'>
            <div class="container main-container index" id="index">
            <h1 class="text-center"><img src="/themes/bofa/static/img/bofa-logo.png" class="bofa-logo"></h1>
            <h1 class="text-center">Hack</h1>
            <h3 class="text-center">
                <p>A WiCyS CTF brought to you by <a href="https://bankofamerica.com">Bank of America</a></p>
            </h3>
            <br>
            <h4 class="text-center">
		    <a href="login">Click here to login</a> or <a href="register">Click here to register</a>
            </h4>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
