{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div id='tube-background' style="padding-bottom: 6%;">
    <input type="checkbox" id="switch" checked>
    <label for="switch" class="switch-label">Turn </label>
    <div id='tube'>
        <div id='screen'>
            <div class="container main-container index" id="index">
            <h1 class="text-center"><img src="/themes/bugcrowd/static/img/defcon-logo.png" class="defcon-logo"></h1>
            <h1 class="text-center">Car hacking village</h1>
            <h3 class="text-center">
                <p>A derbycon 8.0 CTF brought to you by <a href="https://bankofamerica.com">bank of america</a></p>
            </h3>
            <br>
            <h4 class="text-center">
		    <a href="login">Click here to login</a> or <a href="register">Click here to register</a>
            </h4>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
